geopandas==1.1.4
matplotlib==3.11.1
metpy==1.6.3
networkx==3.6.1
numpy==2.4.6
openpyxl==3.1.5
osmnx==2.1.1
pandas==3.0.5
pillow==12.3.0
pvlib==0.15.2
pyproj==3.7.2
pythermalcomfort==3.8.0
pywbgt==3.0.7
pyyaml==6.0.3
rasterio==1.4.4
requests==2.34.2
rioxarray==0.19.0
scipy==1.17.1
shapely==2.1.2
thermofeel==2.3.0
tqdm==4.70.0
xarray==2026.7.0
